.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.logo{
    height: 8rem;
    width: 20rem;
    cursor: pointer;
}

.inputs{
    margin-bottom: .5rem !important;
}

.divider{
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
    background-color: black !important;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem !important;
}

.button1{
    border-radius: 999px !important;
    width: 60% !important;
}

.button2{
    border-radius: 999px !important;
    width: 60% !important;
    background-color: skyblue !important;
    color: black !important;
}

.errors{
    margin: .5rem;
    padding: .5rem;
    color: #b22222;
    border-radius: 10px;
    font-size: 12px;
    border: 1px solid #b22222;
}